{% extends "layout.nunjucks" %}

{% block site_title %}Thank You for Your Generous Gift | {% endblock %}

{% block page_class %}thank-you{% endblock %}

{% block site_content %}
  <section class="content-block">
    <h1 class="site-title">Thank You!</h1>
    <h2>Your Gift Brings Hope</h2>
    <p>Thank you for your generous gift! Because of you, another family will receive care and hope to help them as they tend for their child.</p>

    <img class="image" src="/img/thank-you.jpg" alt="Addy and Emma lifting their hands in the air.">
  </section>
{% endblock %}