.margin {
  &-top {
    margin-top: 2rem;
  }
  &-bottom {
    margin-bottom: 2rem;
    
    &--big {
      margin-bottom: 4rem;
    }
  }
}

.no-margin {
  &-top {
    margin-top: 0 !important;
    
    &-mobile {
      margin-top: 0 !important;
      
      @media (min-width: 880px) {
        margin-top: 3rem !important;
      }
    }
  }
  &-bottom {
    margin-bottom: 0 !important;
    
    &-mobile {
      margin-bottom: 0 !important;
      
      @media (min-width: 880px) {
        margin-bottom: 2rem !important;
      }
    }
  }
}