.padding {
  
  &-top {
    padding-top: 1.5rem;
    
    @media (min-width: 740px) { padding-top: 3rem; }
    @media (min-width: 1000px) { padding-top: 5rem; }
  }
  
  &-bottom {
    padding-bottom: 1.5rem;
    
    @media (min-width: 740px) { padding-bottom: 3rem; }
    @media (min-width: 1000px) { padding-bottom: 5rem; }
  }
  
  &-vertical {
    padding-top: 3rem;
    padding-bottom: 3rem;
    
    @media (min-width: 1000px) {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
    
    &-mobile {
      padding-top: 2rem !important;
      padding-bottom: 2rem !important;
      
      @media (min-width: 740px) {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }
    }
  }
}

@media (max-width: 980px) {
  .no-padding-mobile {
    padding: 0 !important;
  }
}