{% extends "layout.nunjucks" %}

{% set page_title = "gifts-of-hope" %}

{% set num_sponsors = 0 %}
{% set donation_total = 0 %}
{% set donation_goal = 8000 %}
{% set num_families = 80 %}

{% block site_title %}Give a Christmas Gift of Hope to Parents of Children Undergoing Cancer Treatment | {% endblock %}

{% block share_meta %}
<meta property="og:url" content="https://emmashopeinc.org/gifts-of-hope/2018" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Thank You For Giving Hope This Christmas!" />
<meta property="og:description" content="Because of your incredible generosity, all 71 families have been sponsored — in just 20 days!! Your gift is a big deal! Because of you, these families will all receive a $100 gift card to use as they need. You're making our dream a reality, and we cannot thank you enough!" />
<meta property="og:image" content="https://emmashopeinc.org/img/gifts-of-hope/2018/gifts-of-hope-2018.jpg" />
{% endblock share_meta %}

{% block page_class %}gifts-of-hope{% endblock %}

{% block site_content %}
  <section class="content-block">
    <h1 class="site-title">Gifts of Hope</h1>
  </section>
  
  <section class="gifts-wrap content-block">
    <div class="progress">
      <div class="progress-goal">{{ (donation_goal - (donation_goal - donation_total)) / 100 }} of {{ num_families }} families sponsored{% if num_sponsors == 0 %}.{% else %}!{% endif %}</div>
      <div class="progress-bar">
        <div style="width: {{ ((donation_total / donation_goal) * 100) | round(2, floor) }}%;" class="progress-meter"></div>
      </div>
      <div class="progress-stats">
        <div class="progress-stat">
          <span class="progress-number">{{ ((donation_total / donation_goal) * 100) | round(2, floor) }}%</span>
          <span class="progress-label">Funded</span>
        </div>
        <div class="progress-stat">
          <span class="progress-number">${{ donation_total }}</span>
          <span class="progress-label">Raised</span>
        </div>
        <div class="progress-stat">
          <span class="progress-number  js-days-left">0</span>
          <span class="progress-label  js-days-full"><span class="js-days-label">Days</span> til Christmas</span>
        </div>
        <div class="progress-stat">
          <span class="progress-number">{{ num_sponsors }}</span>
          <span class="progress-label">{% if num_sponsors == 1 %}Sponsor {% else %}Sponsors{% endif %}</span>
        </div>
      </div>
    </div>
    
    <div class="sponsor-form">
      <div class="sponsor-form-helper">Choose how many families you would like to sponsor during the 2018 Christmas season.</div><br>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <span>Sponsor</span>
        <input type="hidden" name="cmd" value="_donations">
        <input type="hidden" name="business" value="TSDUXTF3FPDGJ">
        <input type="hidden" name="lc" value="US">
        <input type="hidden" name="item_name" value="Emma's Hope, Inc. Christmas Campaign">
        <input type="hidden" name="item_number" value="Gifts of Hope 2018">
        <input type="hidden" name="no_note" value="1">
        <input type="hidden" name="no_shipping" value="1">
        <div class="sponsor-form-button-wrap">
          <input id="sponsor-1" type="radio" name="sponsor-buttons" value="1" class="js-sponsor-button is-active" checked>
          <label for="sponsor-1" class="sponsor-form-button">1 family</label>
          <input id="sponsor-2" type="radio" name="sponsor-buttons" value="2" class="js-sponsor-button">
          <label for="sponsor-2" class="sponsor-form-button">2 families</label>
          <input id="sponsor-5" type="radio" name="sponsor-buttons" value="5" class="js-sponsor-button">
          <label for="sponsor-5" class="sponsor-form-button">5 families</label>
          <input id="sponsor-10" type="radio" name="sponsor-buttons" value="10" class="js-sponsor-button">
          <label for="sponsor-10" class="sponsor-form-button">10 families</label>
        </div>
        <input type="number" min="1" max="71" value="1" class="sponsor-form-amount js-sponsor-amount">
        <input type="hidden" name="amount" value="102.56" class="js-send-amount">
        <span>for</span>
        <input type="hidden" name="rm" value="1">
        <input type="hidden" name="return" value="https://emmashopeinc.org/thank-you/">
        <input type="hidden" name="currency_code" value="USD">
        <input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_LG.gif:NonHosted">
        <input type="submit" class="button button--small  js-sponsor-total" value="$102.56 this Christmas">
      </form>
      <div class="sponsor-form-helper">The extra cost associated with each sponsorship is to offset the fee generated by PayPal. For example, if you sponsor 1 family, you would give $102.56, which will equal $100 to Emma's Hope, allowing us to purchase the full gift card amount.</div>
    </div>
  </section>
  
  <section class="padding-vertical margin-bottom--big text-center bg--gray">
    <h2>Or, Mail In Your Sponsorship</h2>
    <p>Please make all checks payable to Emma's Hope, Inc and send to:</p>
    <address>
      Emma's Hope, Inc.<br>
      PO Box 105<br>
      Sherrill, NY 13461
    </address>
    <p><em>Please add <strong>"Gifts of Hope 2018"</strong> to the Memo line.</em></p>
  </section>
  
  <section class="content-block">
    <h2>Why Gift Cards?</h2>
    <p>The Christmas season is a wonderful time, but it can also bring along with it stress and anxiety, especially for those whose children are fighting for their lives. Help us provide a general gift card to allow families to use however they need, and bring them a little hope and joy this holiday season.</p>
    <a class="button" href="/gifts-of-hope/2018/">Sponsor a Family Today</a>
  </section>
  
  <hr class="separator">

  <section class="content-block">
    <h2>Past Years</h2>
    <p>Look back on how you and the community helped families at Christmas time!</p>
    <a href="/gifts-of-hope/2017">&larr; 2017</a>
  </section>
{% endblock %}

{% block footer_scripts %}
<script>
  var PP_PERCENT = 0.022;
  var PP_FEE = .30;
  var BASE_GIFT = 100;
  var AMT_SENT = 0.00;
  
  var progressDaysLeft      = document.querySelector('.js-days-left');
  var progressDaysLabel     = document.querySelector('.js-days-label');
  var progressDaysFull      = document.querySelector('.js-days-full');
  
  var sponsorAmount         = document.querySelector('.js-sponsor-amount');
  var sponsorButtons        = document.querySelectorAll('.js-sponsor-button');
  var sponsorSendAmount     = document.querySelector('.js-send-amount');
  var sponsorTotal          = document.querySelector('.js-sponsor-total');
  var sponsorButtonAmounts  = [1,2,5,10];
  
  function getAmount(value) {
    return ( (value * BASE_GIFT) + PP_FEE) / (1 - PP_PERCENT);
  }
  
  function cleanButtons() {
    Array.prototype.forEach.call(sponsorButtons, function(sponsorButton) {
      sponsorButton.classList.remove('is-active');
    });
  }
  
  sponsorAmount.addEventListener('input', function(event) {
    if (sponsorButtonAmounts.includes(parseInt(this.value))) {
      cleanButtons();
      document.getElementById('sponsor-'+this.value).classList.add('is-active');
    } else {
      cleanButtons();
    }
    var amount = getAmount(this.value);
    sponsorSendAmount.value = amount.toFixed(2);
    sponsorTotal.value = "$" + amount.toFixed(2) + " this Christmas";
  });
  
  Array.prototype.forEach.call(sponsorButtons, function(sponsorButton) {
    sponsorButton.addEventListener('click', function(event) {
      cleanButtons();
      this.classList.add('is-active');
      var amount = getAmount(this.value);
      sponsorAmount.value = this.value;
      sponsorSendAmount.value = amount.toFixed(2);
      sponsorTotal.value = "$" + amount.toFixed(2) + " this Christmas";
    });
  });
  
  function updateDays(daysEle, labelEle, labelFull) {
    var endDate   = new Date('12/25/2018 12:0 AM');
    var second = 1000;
    var minute = second * 60;
    var hour = minute * 60;
    var day = hour * 24;
    var timer;
    
    function calculateDays() {
      var today = Date.now();
      var difference = endDate - today;
      
      if (difference < 0) {
        clearTimeout(timer);
        daysEle.innerHTML = 'Yahoo!!';
        labelFull.innerHTML = 'It\'s Christmas!!!!';
        return;
      }
      
      var days = Math.floor(difference / day);
      var hours = Math.floor( (difference % day) / hour);
      var minutes = Math.floor( (difference % hour) / minute);
      var seconds = Math.floor( (difference % minute) / second);
      
      if (days > 0) {
        // Greater than 1 day
        daysEle.innerHTML = days;
        labelEle.innerHTML = (days === 1) ? 'Day' : 'Days';
      } else if (days < 1 && hours > 0) {
        // Less than 1 day til Christmas!
        daysEle.innerHTML = hours;
        labelEle.innerHTML = (hours === 1) ? 'Hour' : 'Hours';
      } else if (days < 1 && hours < 1 && minutes > 0) {
        // Less than 1 hour left til Christmas!
        daysEle.innerHTML = minutes;
        labelEle.innerHTML = (minutes === 1) ? 'Minute' : 'Minutes';
      } else if (days < 1 && hours < 1 && minutes < 1 && seconds > 0) {
        // Less than 1 minute left til Christmas!
        daysEle.innerHTML = seconds;
        labelEle.innerHTML = (seconds === 1) ? 'Second' : 'Seconds';
      }
    }
    
    timer = setInterval(calculateDays, 1000);
  }
  
  updateDays(progressDaysLeft, progressDaysLabel, progressDaysFull);
</script>
{% endblock %}