{% extends "layout.nunjucks" %}

{% block site_title %}Registration Canceled for Golf for Hope 2018! | {% endblock %}

{% block page_class %}no-promo thank-you{% endblock %}

{% block site_content %}
  <section class="padding-bottom border-bottom text-center">
    <h1 class="site-title">Registration Canceled</h1>
    <h2 class="text-center">You have canceled your registration for Golf for Hope 2018.</h2>
    <br>
    <p>If this cancellation was by accident, you can go back and register below.</p>
    <a class="button" href="/events/golf-for-hope/2018/register/">Register Now</a>
  </section>
{% endblock %}