.bg {
  &--pink {
    background: $pink;
    color: $white;
  }
  
  &--purple {
    background: $logo-purple;
    color: $white;
  }
  
  &--gray {
    background: $xmas-gray;
    color: $black;
  }
  
  &--gold {
    background: $gold;
    color: $black;
  }
  
  &--darkblue {
    background: $blue-dark;
    color: $white;
  }
}