blockquote {
  margin: 0;
  padding: 0 1rem;
  
  @media (min-width: 450px) {
    padding-left: 0;
    padding-right: 0;
  }
  
  p {
    font-size: 125%;
    line-height: 1.6;
    
    @media (min-width: 450px) {
      font-size: 150%;
      line-height: 1.8;
    }
  }
  
  cite {
    display: block;
  }
}