.button-wrap {
  margin-bottom: 1rem;
}
.button,
input[type="submit"].button,
button.button {
  padding: .5rem 1rem;

  display: inline-block;

  background-color: $pink;
  border: 0;
  border-radius: 60px;
  color: $white;
  font-family: $body-font;
  font-size: 100%;
  text-decoration: none;
  
  -webkit-appearance: none !important;

  &--nobg {
    padding: 0;
    background-color: transparent;
    color: $black;
  }
  
  &--tiny {
    padding: .125rem .75rem;
    font-size: 85%;
  }

  &--small {
    padding: .3rem .75rem;
  }

  &--large {
    padding: 1rem 2rem;
  }
  
  &--xlarge {
    padding: 1.25rem 3rem;
  }
  
  &--gray {
    background-color: $xmas-gray;
    color: $black;
  }
  
  &--white {
    background-color: $white;
    color: $black;
  }
}