.callout {
  margin: 2rem 0;
  padding: 1.5rem;
  
  background: $gold-light;
  border-radius: 3px;
  text-align: center;
  
  h3 { margin-top: 0; }
  
  @media (min-width: 1400px) {
    margin: 4rem 0;
  }
}