.golfer-choices {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  
  margin-top: 2rem;
}
  .golfer-radio { display: none; }
  
  .golfer-choice {
    flex: 1 0 100%;
    max-width: 500px;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    min-width: 284px;
    position: relative;
    border-left: 2px solid $gold;
    box-shadow: 0 1px 20px rgba(0,0,0,.05), 0 1px 3px rgba(0,0,0,.05);
    
    cursor: pointer;
    font-size: 130%;
    
    text-transform: capitalize;
    transition: .2s ease;
    
    @media (min-width: 620px) {
      min-width: initial;
    }
    
    &:nth-of-type(2) {
      @media (min-width: 620px) {
        margin-right: 1rem;
      }
      
      @media (min-width: 640px) {
        margin-left: 1rem;
      }
      
      @media (min-width: 850px) {
        margin-left: 2rem;
        margin-right: 2rem;
      }
    }
    
    .price {
      margin-top: .5rem;
      margin-bottom: .5rem;
      display: block;
      font-size: 70%;
    }
    
    p {
      margin: .5rem 0 0;
      font-size: 65%;
      text-transform: initial;
    }
    
    @media (min-width: 940px) {
      &:hover {
        background: $gold-light;
        box-shadow: 0 3px 10px rgba(0,0,0,.05);
        transform: translateY(-2px);
      }
      &:active {
        box-shadow: 0 1px 2px rgba(0,0,0,.2), inset 0 1px 4px rgba(0,0,0,.2);
        transform: translateY(1px);
      }
    }
  }
  
  .golfer-radio:checked + .golfer-choice {
    background: $pink;
    border-color: $pink;
    color: white;
  }