.grid {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  
  .auction & {
    &:first-of-type {
      margin-bottom: 6rem;
    }
  }
  
  &-item {
    flex: 1 0 100%;
    margin-bottom: 1rem;
    
    @media (min-width: 980px) {
      flex: 1;
      margin-bottom: 0;
    }
    
    .auction & {
      .helper-text {
        display: block;
        max-width: 16ch;
        margin: 1rem auto 0;
      }
    }
    
    .grid--3 & {
      flex: 1 1 calc(100% / 3);
    }
    
    img {
      max-height: 90px;
      max-width: 250px;
      
      .auction & {
        max-height: 200px;
      }
    }
    
    img.sponsor {
      max-height: 120px;
      max-width: 400px;
    }
  }
}