{% extends "layout.nunjucks" %}

{% set page_title = "services" %}

{% block site_title %}Our Services and Offerings to Families in Need | {% endblock %}

{% block page_class %}services{% endblock %}

{% block site_content %}
  <section class="content-block">
    <h1 class="site-title">Our Services</h1>
  </section>
  
  <section class="content-block">
    <h2>Mom Boxes</h2>
    <p>Our Mom Boxes consist of makeup items, skin care products, a devotional, and a food gift card. The purpose of these boxes is to provide moms in particular with products that will help them feel more like themselves as they take care of their children.</p>
    <a href="/services/mom-boxes/">See What's in the Box &rarr;</a>
  </section>
  
  <section class="content-block">
    <h2>Gifts of Hope</h2>
    <p>In partnership with Upstate Golisano Children's Hospital in Syracuse, NY, our Gifts of Hope campaign is an annual Christmas initiative that provides $100 gift cards to families whose children are currently undergoing treatment for cancer or other life-threatening illnesses.</p>
    <a href="/gifts-of-hope/2018/">Sponsor a Family Today &rarr;</a>
  </section>
  
  <section id="financial-help" class="content-block">
    <h2>Financial Help</h2>
    <p>The treatment plan for a child often demands constant travel and extended hospitals stays. Parents often go weeks and months without working - some even losing their jobs - in order to care for their child. We provide financial support to approved families for travel and food expenses as well as unexpected or miscellaneous bills.</p>
    <a class="button" href="/donate/?designation=financial">Donate To Financial Fund</a>
  </section>
  
  <section id="bereavement-help" class="content-block">
    <h2>Bereavement Help</h2>
    <p>We know that nothing can prepare you for the sudden and heartbreaking loss of a child. The last thing a family should have to think about is if they can even afford funeral expenses. We help cover bereavement expenses for families who have recently lost a child.</p>
    <a class="button" href="/donate/?designation=bereavement">Donate To Bereavement Fund</a>
  </section>
{% endblock %}