{% extends "layout.nunjucks" %}

{% set page_title = "privacy" %}

{% block site_title %}Privacy Policy | {% endblock %}

{% block page_class %}privacy{% endblock %}

{% block site_content %}
  <section class="content-block">
    <h1 class="site-title">Emma's Hope Privacy Policy</h1>
    <h2>Our commitment to privacy</h2>
    <p>Emma's Hope knows that you care about your information and how it is used and shared, and we appreciate you trusting that we will do so carefully and sensibly. This Privacy Policy explains our practices and the choices you can make about the way your information is collected and used by Emma's Hope. It applies to donor information that we collect both online and offline.</p>
    <p>We have updated our Privacy Policy to take into account the new requirements of the General Data Protection Regulation ("GDPR") which means if you are a resident of the EU and your donor records reflect that address, you may be entitled to certain additional protections in accordance with GDPR.</p>
  </section>
  
  <section class="content-block">
    <h2>What information is collected by Emma's Hope?</h2>
    <p>We collect personal information when you voluntarily submit it to us.</p>
    <p>For example, donors may provide us with personal information (such as name, address, and email address). If a donor, or a website visitor, contacts us by email they may provide us with their email address, and name. Providing data is required in these contexts in order for us to process your donations, requests, or respond to inquiries.</p>
    <p>In addition to the personal information that you submit to us, we may collect personal information about you from reputable third parties, or automatically collect information using the following technologies:</p>
    
    <ul>
      <li>Web Server Logs. Our web servers may collect certain information such as IP address, pages visited, time of visits, and referring website.</li>
      <li>Cookies. Cookies are simple text files stored by your web browser that provide a method of distinguishing among donors and visitors to the website. Emma's Hope uses cookies to identify your browser as you visit pages on the Emma's Hope website.</li>
  </section>

  <section class="content-block">
    <h2>Where do we transfer and store information?</h2>
    <p>Emma's Hope is based in the United States, and any information transmitted to us may be stored, accessed, or processed in the United States. Residents of some other countries, including residents of the European Union, should be aware that the laws of the United States do not offer the same protections as the laws of your home country.</p>
  </section>
  
  <section class="content-block">
    <h2>How do we use information?</h2>
    <p>We collect information primarily to accept donations, complete our charitable projects, and provide you with information concerning our services and events. We also use information for internal purposes (to better understand our supporter network) and for analytical purposes (to respond to requests for information and to improve our website, donor base, and outreach). We may inform you of other purposes at the time that we collect some forms of information. For example, if you sign up for an event, we may collect your information to process your application.</p>
  </section>
  
  <section class="content-block">
    <h2>With whom do we share information?</h2>
    <p>We do not trade, share, or sell information that you provide to us with other organizations who intend to use it only to market their products or services to you.</p>
    <p>There may be instances in which we share your information with others. We may share your information, for example, as required by law, with law enforcement, to comply with legal process, to protect our legal rights, to protect the safety or security of a person, or to protect against fraud, criminal acts, or misconduct.</p>
  </section>
  
  <section class="content-block">
    <h2>Our commitment to data security</h2>
    <p>To help prevent unauthorized access, maintain data accuracy, and ensure the correct use of information, we have put in place appropriate physical, electronic, and managerial procedures to safeguard and secure the information we collect. For example, we secure our machines with mandated encryption protocols to secure our donor/company data. We also use industry accepted tools and techniques such as SSL and two-factor authentication to protect against unauthorized access to our systems. Additionally, all sensitive information is stored in secure repositories in secure cloud-based, AES encrypted web apps.</p>
  </section>
  
  <section class="content-block">
    <h2>Your access to data, and your choices</h2>
    <p>If you would like to access the data that we have received from you, or make corrections to it, you may contact us at the email or mailing addresses provided at the end of this policy.</p>
    <p>If you registered to receive communications from us and later change your mind, you may ask that your name and contact information be removed from our distribution list. You can send such a request to the email or mailing addresses at the end of this policy.</p>
    <p>Some web browsers and devices permit you to broadcast a preference that you not be "tracked" online. At this time we do not modify your experience based upon whether such a signal is broadcast.</p>
  </section>

  <section class="content-block">
    <h2>Additional information</h2>
    <p>Links. Our website may contain links to other Web sites. Please note that when you click on one of these links, you are entering another site that is governed by that site's privacy policy.</p>
    <p>Payments. We integrate PayPal's API for accepting donations on our website. Use of this service is subject to PayPal's <a href="https://www.paypal.com/us/webapps/mpp/ua/privacy-full" target="_blank">privacy policy</a>.</p>
    <p>Changes to this privacy statement. We may modify this privacy policy from time to time. Any changes will be reflected on this website. If we make a material change to this policy, and need to apply it to personal information that you provided to us before the change was made, we will attempt to contact you and obtain your consent to the change.</p>
    <p>Communicating with us. If we need, or are required to, contact you about the privacy or security of your information we may do so by telephone, email, or mail. If you have any questions, concerns, requests, or comments about privacy, you can contact us by email, telephone, or mail at:</p>
    <p>
      <a href="mailto:hello@emmashopeinc.org">hello@emmashopeinc.org</a><br>
      <a href="tel:+13152175567">+1 315 217 5567</a>
    </p>
    <address>
      PO Box 105<br>
      Sherrill, NY 13461, U.S.
    </address>
    <p>Effective: May 24, 2018</p>
  </section>
{% endblock %}