{% extends "landing.nunjucks" %}

{% set page_title = "events" %}

{% block site_title %}2018 Golf For Hope Charity Golf Tournament | {% endblock %}

{% block share_meta %}
<meta property="og:url" content="https://emmashopeinc.org/events/golf-for-hope/2018/" />
<meta property="og:type" content="article" />
<meta property="og:title" content="First Annual Golf for Hope Charity Golf Tournament" />
<meta property="og:description" content="Join us on the fairway for a day of food and fun, as we raise money for families whose children are diagnosed with life-threatening illnesses or cancers." />
<meta property="og:image" content="https://emmashopeinc.org/img/golf-for-hope/2018/golf-for-hope-2018.jpg" />
{% endblock share_meta %}

{% block page_class %}landing events{% endblock %}

{% block cta %}{% endblock %}

{% block site_content %}
  <section class="hero hero-keep-mobile">
    <img class="hero-image" src="/img/golf-for-hope/2018/kanon-valley6.jpg" alt="Man playing golf at sunset.">
    <div class="hero-content text-center">
      <h1 class="uppercase">Golf for Hope Tournament</h1>
      <p>Monday, July 9, 2018 &mdash; Kanon Valley Country Club</p>
      <!-- <a class="button" href="/events/golf-for-hope/2018/register/">Register Now</a> -->
      <p>Event has ended. Thank you to all of our sponsors, donors, and golfers for making our first annual Golf Event a success!</p>
    </div>
  </section>
  
  <section class="padding-vertical text-center">
    <p class="lead maxw">100% of the proceeds from this tournament go directly to the families whose children are diagnosed with cancer or life-threatening illnesses.</p>
    <p>Emma's Hope is made entirely possible by individuals & corporations like you.</p>
  </section>
  
  <!-- <section class="border-top padding-vertical text-center">
    <p class="lead">Interested in sponsoring this event?</p>
    <a href="/events/golf-for-hope/2018/2018-sponsorship-form.pdf" target="_blank">Download the Sponsorship Form</a>
  </section> -->
  
  <!-- <section class="info-block margin-top">
    <div class="info-block-left text-center bg--purple sans">
      <h3>Tournament Schedule</h3>
      <p><strong>10am</strong><br>Registration &mdash; lunch provided</p>
      <p><strong>12pm</strong><br>Start &mdash; Captain & Crew</p>
      <p><strong>5pm</strong><br>Dinner &mdash; Awards & Prizes</p>
    </div>
    <div class="info-block-right text-center">
      <h3>Contests</h3>
      <ul class="no-dots">
        <li>Hole in One</li>
        <li>Longest Drive</li>
        <li>Closest to the Pin</li>
        <li>Skins</li>
      </ul>
    </div>
  </section> -->
  
  <!-- <section class="content-block padding-vertical no-margin-bottom text-center">
    <h3 class="no-margin-top-mobile text-center">Tournament Registration</h3>
    <p>To register as a team or as an individual, or to purchase dinner tickets, please sign up using our online form.</p>
    <br>
    <a class="button button--xlarge" href="/events/golf-for-hope/2018/register/">Register Now</a>
  </section> -->
  
  <section class="border-top padding-vertical text-center">
    <h3 class="margin-bottom--big text-center">Thank You To Our Generous Sponsors</h3>
    <p class="sans margin-bottom">DIAMOND SPONSOR</p>
    <div class="grid margin-bottom--big">
      <div class="grid-item padding-bottom">
        <img class="image--center sponsor" src="/img/golf-for-hope/2018/cfss-logo.jpg" alt="Callahan, Flanagan, Smith & Stock Orthodontics">
      </div>
    </div>
    <p class="sans margin-bottom">RUBY SPONSOR</p>
    <div class="grid margin-bottom--big">
      <div class="grid-item padding-bottom">
        <img class="image--center sponsor" src="/img/golf-for-hope/2018/passalacqua-logo.png" alt="Passalacqua & Associates">
      </div>
    </div>
    <p class="sans">AQUAMARINE SPONSORS</p>
    <div class="grid">
      <div class="grid-item">
        <img class="image--center sponsor" src="/img/golf-for-hope/2018/redeemer-church-logo.jpg" alt="Redeemer Church">
      </div>
      <div class="grid-item">
        <img class="image--center sponsor" src="/img/golf-for-hope/2018/gorman-logo.png" alt="Gorman Foundation">
      </div>
    </div>
  </section>
  
  <hr class="separator">
{% endblock %}