// .site-logo {
//   @media (min-width: 840px) {
//     margin-top: 5rem;
//   }
//   text-align: center;

//   img {
//     margin-left: auto;
//     margin-right: auto;
//     max-width: 120px;

//     @media (min-width: 840px) {
//       max-width: 163px;
//     }
//   }

//   figcaption {
//     color: $logo-purple;
//     font-family: $header-font;
//     font-size: 250%;
//   }
// }

.mission {

  &-content {
    padding-left: 1rem;
    padding-right: 1rem;

    p {
      margin-left: 0;
    }
  }

  @media (min-width: 840px) {
    margin-top: 5rem;

    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: center;

    img {
      
      max-width: 500px
    }
    
    &-content {
      padding-left: 4rem;
      padding-right: 2rem;

      max-width: 52ch;

      h2 {
        text-align: left;
      }

      p {
        margin-right: 0;
      }
    }
  }
}