$white: #fff;
$black: #000;
$blue-dark: #2b2d3a;
$pink: #ef5f89;
$logo-purple: #b26d7d;
$gold: #be994e;
$gold-light: #f5e8b9;

$xmas-gray: #efebe8;
$xmas-gold: #999577;
$xmas-green: #9fc39c;
$xmas-red: #de524c;