$header-font: "Esteban", Georgia, Times, serif;
$body-font: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
$logo-font: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
$script: "Esteban", Georgia, Times, serif;

$base-font-size: 16px;
$social-r: 'socialicoregular';
$social-p: 'socialico_plusregular';