{% extends "layout.nunjucks" %}

{% set page_title = "events" %}

{% block site_title %}Upcoming Events and Fund-raisers | {% endblock %}

{% block page_class %}events{% endblock %}

{% block site_content %}
  <section class="content-block">
    <h1 class="site-title">Events</h1>
    <h2>Golf for Hope</h2>
    <p>Emma's Hope, Inc. is thrilled to announce our first annual Golf for Hope Charity Golf Tournament! Join us as we spend the day golfing, eating, and raising money for families whose children are diagnosed with life-threatening illnesses or cancers.</p>
    <a href="/events/golf-for-hope/2018/">More Information &rarr;</a>
  </section>
{% endblock %}