{% extends "layout.nunjucks" %}

{% set page_title = "services" %}

{% block site_title %}See Inside our Mom Boxes | {% endblock %}

{% block page_class %}mom-boxes{% endblock %}

{% block site_content %}
  <section class="content-block">
    <h1 class="site-title">Emma's Hope Mom Boxes</h1>
  </section>
  
  <section class="content-block">
    <h2>The Need</h2>
    <p>During our time in the hospital, the staff would always tell us, "Take care of yourselves, so you can take care of Emma." As great as that sounds, we did what any parent would do - we sacrificed anything for Emma. This sacrifice looks different to many, but often includes time, food, sleep, and general hygiene to be there for your child. Our mom boxes contain makeup and skin-care products, which are items that don't even make the list when your focus is on your child, and you're rushing around to pack things for the hospital stay.</p>
  </section>
  
  <blockquote class="padding-vertical margin-bottom--big bg--gray">
    <p class="maxw">&ldquo;As someone who has been there, I know first hand just how uplifting it can be to simply wash my face and put on moisturizer and mascara. It helped me feel more put together, and in a small way, it helped me mentally feel that I was better able to care for Emma because I felt good about myself.&rdquo;</p>
    <cite class="maxw text-right">&mdash; Jane (Emma's Mom)</cite>
  </blockquote>
  
  <section class="content-block">
    <h2>The Contents</h2>
    <p>These mom boxes are filled with a variety of skin-care, makeup, and wellness products:</p>
    <ul>
      <li>Coffee Shop Gift Card</li>
      <li>Poopourri</li>
      <li>Skyn Iceland Eye Gels</li>
      <li>Body Lotion</li>
      <li>Sara Happ Lip Scrub</li>
      <li>Facial Spray</li>
      <li>Living Proof Dry Shampoo</li>
      <li>IT Cosmetics Bye Bye Undereye</li>
      <li>Mally Shadow Sticks</li>
      <li>Journal</li>
      <li>Philosophy Facial Wipes</li>
      <li>IT Cosmetics Superhero mascara</li>
      <li>IT Cosmetics Confidence in a Cream</li>
      <li>MyPillow Travel Roll 'n Go</li>
      <li>Lay 'n Go Bag</li>
      <li>Jesus Calling Devotional</li>
    </ul>
    
    <img class="image" src="/img/mom-boxes.jpg" alt="Collection of products and items inside a box.">
    <p>We are honored and blessed to be able to provide mothers whose children are undergoing treatment for a life-threatening illness or cancer and are currently admitted to the hospital with these boxes, as a small, tangible gesture of love and hope.</p>
    <a class="button" href="/donate/?designation=mom-boxes">Donate To a Mom Box Now</a>
  </section>
  
  <hr class="separator">
  
  <section class="content-block">
    <p>We are also extraordinarily grateful to the businesses who have partnered with us to provide certain products for these mom boxes. Thank you!</p>
  </section>
  
  <section class="text-center padding-bottom">
    <div class="grid grid--3">
      <div class="grid-item margin-bottom--big">
        <img class="image--center" src="/img/sponsors/ITCosmetics.png" alt="IT Cosmetics">
      </div>
      <div class="grid-item margin-bottom--big">
        <img class="image--center" src="/img/sponsors/philosophy-logo.png" alt="Philosophy">
      </div>
      <div class="grid-item margin-bottom--big">
        <img class="image--center" src="/img/sponsors/lay-n-go-logo.png" alt="Lay-n-Go">
      </div>
      <div class="grid-item margin-bottom--big">
        <img class="image--center" src="/img/sponsors/JesusCalling.png" alt="Jesus Calling by Sarah Young">
      </div>
      <div class="grid-item margin-bottom--big">
        <img class="image--center" src="/img/sponsors/MyPillow.png" alt="MyPillow">
      </div>
      <div class="grid-item margin-bottom--big">
        <img class="image--center" src="/img/sponsors/sara-happ-logo.png" alt="Sara Happ The Lip Expert">
      </div>
    </div>
    <a href="/services/">&larr; Back to Services</a>
  </section>
  
{% endblock %}