{% extends "layout.nunjucks" %}

{% set page_title = "events" %}

{% block site_title %}Register for the Emma's Hope 2018 Golf For Hope Charity Golf Tournament | {% endblock %}

{% block share_meta %}
<meta property="og:url" content="https://emmashopeinc.org/events/golf-for-hope/2018/register/" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Register for Emma's Hope Golf for Hope Charity Golf Tournament" />
<meta property="og:description" content="Register as a team, single player, or dinner guest today for our Golf for Hope Charity Golf Tournament. We are playing at Kanon Valley Country Club in Oneida, NY on Monday, July 9, 2018." />
<meta property="og:image" content="https://emmashopeinc.org/img/golf-for-hope/2018/golf-for-hope-2018.jpg" />
{% endblock share_meta %}

{% block page_class %}no-promo events{% endblock %}

{% block promomtions %}{% endblock %}
{% block cta %}{% endblock %}

{% block site_content %}
  
  <section class="text-center border-bottom padding-bottom no-margin-bottom">
    <h1 class="site-title">Tournament Registration</h1>
    <p>Monday, July 9, 2018 &mdash; Kanon Valley Country Club <a class="nolink" href="https://maps.google.com/?saddr=Current+Location&daddr=43.140974664881824,-75.70847315000003&driving" target="_blank">(get directions)</a></p>
    <p class="maxw">The event has now ended. Thank you to our generous sponsors, donors, and golfers for making our first Golf Event such a success!</p>
    <br>
    <p>Next year's tournament will be on Saturday, July 13th, 2019 at Kanon Valley.</p>
  </section>
  
  <!--
  <section class="content-block padding-vertical text-center">
    <h2 class="text-center">Registration is Now Closed</h2>
    <p>Thank you to all who have registered! We'll see you on the green at Kanon Valley on Monday, July 9th!</p>
    <a href="https://maps.google.com/?saddr=Current+Location&daddr=43.140974664881824,-75.70847315000003&driving" target="_blank">Click here for directions to Kanon Valley</a>
  </section>
  -->
  
  <!-- <div class="callout text-center margin-bottom no-margin-top">
    <p class="sans spaced upper"><strong>Registration ends June 30th, 2018</strong></p>
  </div> -->
  
  
{% endblock %}