{% extends "layout.nunjucks" %}

{% set page_title = "about" %}

{% block site_title %}Providing Hope and Love to Parents of Diagnosed Children | {% endblock %}

{% block page_class %}about{% endblock %}

{% block site_content %}
  <section class="content-block">
    <h1 class="site-title">We've Been There</h1>
    <h2>Why We Began</h2>
    <p>Emma's Hope, Inc. is a 501(c)(3) charitable nonprofit that we started in honor of our daughter, Emma Grace, who battled a rare form of lung cancer and went home to be with Jesus on February 7th, 2017, just before her second birthday. The fact that she is no longer here with us and that she will never meet her younger brother or play with her older sister again is painful.</p>
    <a href="/emmas-story/">Read Emma's Story &rarr;</a>
  </section>
  
  <section class="content-block margin-top">
    <h2>Why We Are Needed</h2>
    <p>Through Emma’s Hope, we are able to use what our family went through to directly help other families going through similar circumstances. We know that when your child is going through treatment for a life-threatening illness or cancer, they are your only focus. The treatment plan for a child often demands constant travel and extended hospitals stays. Parents often go weeks and months without working - some even losing their jobs - in order to care for their child.</p>
    <p>At Emma's Hope, we provide financial support to approved families for travel and food expenses as well as unexpected or miscellaneous bills. The heartbreaking loss of a child is enough of a weight on a family in and of itself. Because of that, we help cover bereavement expenses to lighten some of the financial burden for families who have recently lost a child.</p>
    <a href="/services">See Our Services &rarr;</a>
  </section>
  
  <section class="content-block">
    <h2>Our Mission</h2>
    <p>Emma's Hope, Inc. exists to be an aide and liaison for the families of children who have been diagnosed with severe illnesses and cancers living in the state of New York. Emma's Hope, Inc. will provide services, support, and activities throughout the year for the benefit, encouragement, and assistance of the aforementioned families.</p>
  </section>

  <section class="content-block">
    <h2>Our Vision</h2>
    <p>Our goal at Emma's Hope is to tangibly share the love, hope, and peace that we have received from Jesus with families who are currently experiencing or who have experienced the difficult challenges that come with having a child diagnosed with a life-threatening illness.</p>
  </section>

  <section class="content-block">
    <h2>Board of Directors</h2>
    <dl class="list--wide">
      <div>
        <dt>President</dt>
        <dd>Alex Wright</dd>
      </div>
      <div>
        <dt>Vice President</dt>
        <dd>Jane Wright</dd>
      </div>
      <div>
        <dt>Secretary</dt>
        <dd>Sara Loucy-Swartz</dd>
      </div>
      <div>
        <dt>Treasurer</dt>
        <dd>Brad Loucy</dd>
      </div>
    </dl>
  </section>
{% endblock %}