{% extends "layout.nunjucks" %}

{% block site_title %}404 | {% endblock %}

{% block page_class %}four-oh-four{% endblock %}

{% block site_content %}
  <section class="content-block">
    <h1 class="site-title">Whoops!</h1>
    <h2>Something Went Wrong</h2>
    <p>Looks like that page doesn't exist. Please double check the spelling of your URL, and if you're still having problems, you can email <a href="mailto:hello@emmashopeinc.org">hello@emmashopeinc.org</a>.</p>
    <p>To learn more about Emma's Hope, please visit our <a href="/about/">about page</a>.</p>
  </section>
{% endblock %}