{% extends "layout.nunjucks" %}

{% block site_title %}We Provide Hope for Families of Diagnosed Children | {% endblock %}

{% block page_class %}home{% endblock %}

{% block site_content %}

  <section class="hero mask mask-dark text-center">
    <img class="hero-image" src="/img/emma-hero_opt.jpg" alt="Emma Grace">
    <div class="hero-content padding-vertical-mobile">
      <h1 class="sans smaller">Cancer turns life upside down. Let's give parents support and hope, together.</h1>
      <p class="script">Help parents whose kids are fighting for their lives pay bills, feel loved, and have hope.</p>
      <a class="button" href="/donate/">Donate Now</a>
    </div>
  </section>
  
  <section class="padding-vertical text-center bg--gray">
    <h3>Having a child in the hospital takes a toll</h3>
    <p>Unexpected bills, constant travel, duties at home, time off from work - it all adds up.</p>
    <a class="button" href="/donate/">Donate Now</a>
  </section>
    
  <section class="padding-top text-center">
    <h3>We've Been There</h3>
    <p><a href="/emmas-story/">Emma's experience</a> showed us where the needs were - here's how we help meet them.</p>
    
    <div class="grid padding-vertical no-padding-mobile margin-top">
      <div class="grid-item padding-vertical-mobile border-right no-margin-bottom-mobile">
        <h3 class="sans smaller margin-bottom">Mom Boxes</h3>
        <a href="/services/mom-boxes/">Learn More &rarr;</a>
      </div>
      <div class="grid-item border-top--mobile padding-vertical-mobile border-right no-margin-bottom-mobile">
        <h3 class="sans smaller margin-bottom">Gifts of Hope</h3>
        <a href="/gifts-of-hope/">Learn More &rarr;</a>
      </div>
      <div class="grid-item border-top--mobile padding-vertical-mobile border-right no-margin-bottom-mobile">
        <h3 class="sans smaller margin-bottom">Financial Help</h3>
        <a href="/services/#financial-help">Learn More &rarr;</a>
      </div>
      <div class="grid-item border-top--mobile padding-vertical-mobile no-margin-bottom-mobile">
        <h3 class="sans smaller margin-bottom">Bereavement Help</h3>
        <a href="/services/#bereavement-help">Learn More &rarr;</a>
      </div>
    </div>
  </section>
  
  <section class="hero mask mask-white padding-vertical">
    <img class="hero-image" src="/img/emma-family-bw_opt.jpg" alt="Our family with Emma">
    <div class="hero-content padding-vertical-mobile text-center">
      <h3 class="sans">We want parents to be able to focus on their kids</h3>
      <p>We're blessed to have been able to help over 80 families, completely through donations from people like you.</p>
      <a class="button" href="/donate/">Donate Now</a>
    </div>
  </section>
{% endblock %}