@font-face {
    font-family: 'socialico_plusregular';
    src: url('../fonts/socialico_plus-webfont.eot');
    src: url('../fonts/socialico_plus-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socialico_plus-webfont.woff') format('woff'),
         url('../fonts/socialico_plus-webfont.ttf') format('truetype'),
         url('../fonts/socialico_plus-webfont.svg#socialico_plusregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'socialicoregular';
    src: url('../fonts/socialico-webfont.eot');
    src: url('../fonts/socialico-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socialico-webfont.woff') format('woff'),
         url('../fonts/socialico-webfont.ttf') format('truetype'),
         url('../fonts/socialico-webfont.svg#socialicoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}