.cta {

  &-copy {
    padding-left: 2rem;
    padding-right: 2rem;

    @media (min-width: 540px) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &-button {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &-helper {
    a {
      color: $pink;
    }
  }
}