.sponsor-form {  
  margin-bottom: 4rem;
  
  font-size: 120%;
  text-align: center;
  
  @media (min-width: 540px) {
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: 150%;
  }
  
  &-amount {
    padding-left: .5rem;
    
    border: 1px solid $xmas-gold;
    border-radius: 3px;
    font-size: 100%;
  }
  
  &-button-wrap {
    margin-top: 1rem;
    margin-bottom: 1rem;
    
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    
    opacity: 0;
    position: absolute;
    
    &.is-active + label {
      background: $gold-light;
    }
  }
  
  &-button {
    flex-basis: 100%;
      
    display: inline-block;
    padding: .25rem 1rem;
    margin-bottom: 1rem;
    flex-basis: 100%;
    
    background: $white;
    border: 1px solid $gold-light;
    border-radius: 30px;
    
    @media (min-width: 370px) {
      flex-basis: calc(50% - 1rem);
    }
    
    @media (min-width: 650px) {
      flex-basis: auto;
      font-size: 90%;
    }
  }
  
  input[type="submit"].button {
    margin-top: 1rem;
    cursor: pointer;
    
    @media (min-width: 540px) {
      margin-top: 0;
    }
  }
  
  &-helper {
    max-width: 70ch;
    margin: 2rem auto 0;
    
    font-size: 80%;
    
    @media (min-width: 540px) {
      font-size: 50%;
    }
  }
}