{% extends "layout.nunjucks" %}

{% set page_title = "events" %}

{% block site_title %}2018 Golf For Hope Charity Golf Tournament | {% endblock %}

{% block page_class %}no-promo events{% endblock %}

{% block promomtions %}{% endblock %}
{% block cta %}{% endblock %}

{% block site_content %}
  <section class="content-block text-center no-margin-bottom">
    <h1 class="site-title">Silent Auction</h1>
    <p>Take a sneak peek at some of the items that will be for auction, Monday.</p>
  </section>
  
  <section class="padding-vertical border-bottom text-center auction">
    <div class="grid">
      <div class="grid-item">
        <img class="image--center" src="/img/golf-for-hope/2018/auction/callaway-strata-12mens.png" alt="Callaway Strata 12 piece men's golf club set">
        <span class="helper-text">Callaway Strata Men's 12 piece set</span>
      </div>
      <div class="grid-item">
        <img class="image--center" src="/img/golf-for-hope/2018/auction/kurt-warner-autograph.jpg" alt="Kurt Warner autograph">
        <span class="helper-text">Kurt Warner Autograph</span>
      </div>
      <div class="grid-item">
        <img class="image--center" src="/img/golf-for-hope/2018/auction/lug-Propeller-Aqua_grande.jpg" alt="Aqua Lug Overnight bag">
        <span class="helper-text">LUG Aqua Overnight Bag</span>
      </div>
    </div>
    <div class="grid">
      <div class="grid-item">
        <img class="image--center" src="/img/golf-for-hope/2018/auction/mauijim-wikiwiki.jpg" alt="MauiJim Wiki-Wiki aviator sunglasses">
        <span class="helper-text">MauiJim Wiki-wiki Aviator Sunglasses</span>
      </div>
      <div class="grid-item">
        <img class="image--center" src="/img/golf-for-hope/2018/auction/ring-video-doorbell2.jpg" alt="Ring Video Doorbell 2">
        <span class="helper-text">Ring Video Doorbell 2</span>
      </div>
      <div class="grid-item">
        <img class="image--center" src="/img/golf-for-hope/2018/auction/yeti-roadie20-white.jpg" alt="YETI Roadie 20 cooler">
        <span class="helper-text">YETI Roadie 20 Cooler</span>
      </div>
    </div>
  </section>
  <section class="border-bottom padding-vertical text-center">
    <h3 class="margin-bottom">And that's not all...</h3>
    <ul class="no-dots margin-bottom--big">
      <li>NY Mets tickets</li>
      <li>IT Cosmetics products</li>
      <li>Vera Bradley Duffel bag</li>
      <li>SU Football Tickets</li>
      <li>Dry Bar gift card</li>
    </ul>
    <p><em>Thank you to the generous companies who donated all of these items!</em></p>
  </section>
  <section class="bg--darkblue padding-vertical border-bottom text-center">
    <h3>It's not too late</h3>
    <p class="maxw">Register as a golfer or dinner guest to participate in the silent auction and raffles!</p>
    <a class="button" href="/events/golf-for-hope/2018/register/">Register Today</a>
  </section>
{% endblock %}

{% block footer_scripts %}{% endblock %}