{% extends "layout.nunjucks" %}

{% set page_title = "emmas-story" %}

{% block site_title %}Emma's Story and our Hope in Jesus | {% endblock %}

{% block page_class %}emmas-story{% endblock %}

{% block site_content %}
  <section class="content-block">
    <h1 class="site-title">Emma's Story</h1>
    <img class="image" src="/img/emma-baby.jpg" alt="Emma giving us her sassy face.">
    <p>Early on the morning of March 27, 2015, God gave us our second daughter - our big blue eyed Emma Grace.  Before we left the hospital, a nurse brought Emma to us and stated very matter-of-fact, “This baby has got a powerful set of lungs!”  Within days, we found out just how right the nurse was. Her loud voice and piercing blue eyes, along with her sassy expressions, were some of her most distinguishing features.</p>

    <img class="image" src="/img/emma-swing.jpg" alt="Emma smiling with her blue eyes in a swing">

    <p>Two days before her first birthday, we made an appointment with Emma's pediatrician, as she had been having a cough for the better part of 2 weeks. Visually, Emma looked completely healthy, walking around, laughing and smiling. However, when the doctor listened to her chest, we were told that no air flow was heard in her left lung.  We were sent to a local clinic to have an x-ray taken of Emma's lungs. The x-ray showed that her left lung was completely whited out, which could be 1 of 2 things: fluid from pneumonia, or in a &#8220;very rare and unlikely case&#8221;, a tumor.  Well, like most parents, we didn't even consider that it could be a tumor, and promptly put that idea out of our minds.</p>

    <img class="image image--half image--right image--crop" src="/img/addy-em-christmas.jpg" alt="Addy and Emma smiling big on Christmas">

    <p>We drove up to Golisano Children's Hospital at Upstate in Syracuse, NY where she had more x-rays as well as an ultrasound. Based on those tests, it was determined that Emma had fluid in her lungs caused by pneumonia. We spent the next 12 days in the hospital, while Emma underwent surgery to drain the fluid and heal from the procedure. Upon being discharged, we were told to come back if anything related to Emma's breathing seemed suspicious.</p>


    <p>We enjoyed being home for all of one week before we noticed Emma's breathing had become more labored, and were admitted back to Golisano. Emma underwent more x-rays and an ultrasound, which showed her left lung was yet again whited out. At first, the consensus was that fluid from pneumonia had returned, preventing air from flowing in her lungs. However, when they compared the two ultrasounds from each visit, there was a discrepancy: they found a mass.</p>

    <img class="image image--half image--left image--crop" src="/img/addy-em-fl.jpg" alt="Addy and Emma playing in Florida">

    <p>Emma had a biopsy performed the next day, after which we were told it would take up to a week to find a diagnosis. However, we would not need to wait that long. The following day, on April 21st, Emma was diagnosed at 13 months old with stage 3 PleuralPulmonary Blastoma (PPB), a very rare form of lung cancer. We were told that only 40 people per year are diagnosed with PPB, nation-wide. Out of those 40 diagnosed, a majority are stage 1, with even fewer being diagnosed with stage 3.</p>

    <p>We will never forget the look on the oncologists face when she told us the news, as she fully and rightfully expected us to break down. But we didn't. God gave us overwhelming peace in that moment, and even though we had no idea what to expect, we knew we could trust that He would get us and Emma through whatever was to come.</p>

    <p>In early May, Emma was supposed to start her first round of chemotherapy. Due to the size of the tumor (roughly 4 inches x 4 inches) in her chest, her left lung had collapsed, and the function of the right lung was significantly deteriorating. The night the chemotherapy started, she ended up being put on life support, as her oxygen levels plummeted and her overworked right lung gave out. Emma spent the next 19 days sedated in the PICU.</p>

    <img class="image image--half image--right" src="/img/addy-em-end.jpg" alt="Addy holding Emma's hand during a photo shoot.">

    <p>Over the next 10 weeks, with the help of Occupational and Physical therapists, Emma was able to regain much of her strength that was lost while she was sedated in the PICU. In addition to losing her strength, she also developed a tolerance for the sedation drugs, causing her to go through withdrawal, which she also overcame. Every day she grew stronger, re-learning to do the things she had so easily done before - basic things such as eating, drinking, and sitting up.</p>

    <p>The next 6 months brought with it numerous tests, treatments (both traditional and non-traditional), surgeries, and many other medical procedures. A theme that was consistent throughout all of Emma's time in the hospital was the strength and fight that she had. On several occasions, we were told by the medical staff how they were drawn to Emma, for reasons they could not pinpoint. Even at such a young age, Emma knew who she was - a child of God. He is the reason for her strength, and the reason we were able to remain calm and at peace while we watched our blue eyed baby girl go through agonizing procedures and treatments. We knew God was in control and that He is good.</p>

    <p>In late December of 2016, after finally making the transition to maintenance chemotherapy, Emma had a full body scan to confirm the effectiveness of the treatment. Hours after the scan was complete, we received news we were not expecting - the tumor had grown back much more aggressively, this time in a different location. In early January 2017, Emma was admitted to the hospital for dehydration. She was released from the hospital on January 19th to come home, where she stayed until she went home to be with Jesus on February 7th, 2017.</p>

    <p>Throughout the 10 months of Emma's fight, we were regularly in and out of the hospital. During that time, we began to see areas of need, specifically relating to the parents and families of the children who were admitted to the hospital. While in the hospital, caregivers are constantly told to take care of themselves so they are able to effectively support their child. In addition to seeing physical needs, we also saw an opportunity to share the comfort and peace that we have from our Lord and Savior Jesus Christ. After Emma's heaven-going, we are making it our mission to come alongside the parents and families of children with life-threatening illnesses by providing them with care and support, and to give them hope - Emma's hope - which is Jesus Christ.</p>

    <img class="image" src="/img/us.jpg" alt="Jane, Addy, Emma, and Alex">
</section>

<section class="content-block">
    <p class="no-mb">Emma Grace,</p>
    <p class="no-mb">Not a day goes by where we don't think of you, longing to hold you and hear your voice. Even though we miss you very much, we are so thankful that you are no longer in any pain and that you are with Jesus in Heaven, completely healed! We look forward to the day where we get to see and hug you again!</p>
    <p>We love you, Em 😘</p>

    <iframe class="video" src="https://player.vimeo.com/video/235928996?byline=0" width="640" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </section>
{% endblock %}